<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.madinafm.masjid"
        versionCode="10" 
        version   = "1.0.0">
	<name>Madina FM</name>

    <description>
		Radio Madina FM Masjid Agung Jami Malang.
    </description>

    <author href="http://holyprince.com" email="rodhi@outlook.com">
        Rodhi
    </author>
	
	<preference name="phonegap-version" value="2.9.0" />
	<preference name="orientation" value="portrait" />
	<preference name="fullscreen" value="false" />
	<preference name="show-splash-screen-spinner" value="true" />
	<preference name="auto-hide-splash-screen" value="false" />
	<preference name="target-device" value="universal" />
	<preference name="exit-on-suspend" value="false" />
	<preference name="android-installLocation" value="auto" />
	<preference name="load-url-timeout" value="15000" />
	
	<preference name="android-minSdkVersion" value="7" />
	<preference name="android-maxSdkVersion" value="18" />
	
	<icon src="icon.png" />
	<icon src="icon.png" gap:platform="android" gap:density="ldpi" />
	<icon src="icon.png" gap:platform="android" gap:density="mdpi" />
	<icon src="icon.png" gap:platform="android" gap:density="hdpi" />
	<icon src="icon.png" gap:platform="android" gap:density="xhdpi" />

	<icon src="icon.png" gap:platform="blackberry" />
	<icon src="icon.png" gap:platform="blackberry" gap:state="hover"/>
	
	<gap:splash src="splash/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
	<gap:splash src="splash/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
	<gap:splash src="splash/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
	<gap:splash src="splash/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />
	
	<gap:splash src="splash/android/xhdpi.png" gap:platform="blackberry" />
	
</widget>
